html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }

.wrapper{
    display: -ms-grid;
    display: grid;
}

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: lightgray;
    color: white;
}

.logo{
    text-align: left;
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 20px;
}

.nav a {
    float: right;
    display: block;
    background-color: lightgray;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
}